
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Toto</title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Index.css" />
</head>
<body>
    <div>
        <!-- Navbar --> 
        <ul>
            <li style="float: left"><img src="~/cropped-logo.png" class="logo"></li>
            <li style="float:center"><a href="#news" class="titre">Guld StrawPoll</a></li>
            <li style="float:right"><a href="#contact" class="btnConnect">Connect</a></li>
            <li style="float: right"><a href="#about" class="btnLog">LogIn</a></li>
        </ul> 
        
        <!-- Middle Text --> 
        <div class="txtMid">
            <form action="/Home/VoteRadioButtons?ID=@ViewBag.IDStrawPoll&answer=Answer" method="post">
                <p>@ViewBag.StrawPoll.getStrawPollQuestion()</p>

                <input type="radio" name="Answer" value="@ViewBag.answerOne.getAnswer()">@ViewBag.answerOne.getAnswer()<br>
                <input type="radio" name="Answer" value="@ViewBag.answerTwo.getAnswer()">@ViewBag.answerTwo.getAnswer()<br>
                <input type="radio" name="Answer" value="@ViewBag.answerThree.getAnswer()">@ViewBag.answerThree.getAnswer()<br>
                <input type="radio" name="Answer" value="@ViewBag.answerFour.getAnswer()">@ViewBag.answerFour.getAnswer()<br><br>
                <!--Cookies-->
                <span style="color:red">@ViewData["UserName"]</span>
                <input type="submit" name="BtVote" value="Vote !">
            </form>
            <div class="NbrVote">Total votes : @ViewBag.StrawPoll.getNbrVotesStrawPoll()</div>
        </div>

        <!-- Copyright--> 
        <p id="copyright">Copyright 2018. All rights reserved</p>
    </div>
</body>
</html>
